	<!-- Start Newsletter -->
	<section id="newsletter" class="newsletter-bg d-relative">
	  <div class="bg-overlay"></div>
	  <div class="container">
	    <div class="row justify-content-center">
	      <div class="col-md-10 text-center">
	        <p class="lead text-white mb-5">
	          Aboniere unseren Newsletter und erhalte immer die neusten Infos zu unserem schönen Café.
	        </p>
	        <button data-toggle="modal" data-target="#newsletter-modal" type="button"
	          class="btn btn-outline-primary btn-round btn-lg">Newsletter abonnieren</button>
	      </div>
	      <!-- col -->
	    </div>
	    <!-- row -->
	  </div>
	  <!-- container -->


	  <!--Page contain-->
	  <div class="container">
	  	<div *ngIf="customer">
	  		<div>
	  			<label>Name: </label>{{custer.name}}
	  		</div>

	  		<div>
	  			<label>Age: </label>{{custer.age}}
	  		</div>

	  		<div>
	  			<label>Active: </label>{{custer.active}}
	  		</div>
	  		<span class="button is-small btn-outline-primary" *ngIf='customer.active' (click)='updateActive(false'>Inactive</span>
	  		<span class="button is-small btn-outline-primary" *ngIf='!customer.active' (click)='updateActive(true'>Active</span>
	  		<span class="button is-small btn-outline-ganger" (click)='delectCustomer()'>Delect</span>
	  	</div>
	  </div>
	</section>
	<!-- Ende Newsletter -->
