	<!-- Start Newsletter -->
	<section id="newsletter" class="newsletter-bg d-relative">
	  <div class="bg-overlay"></div>
	  <div class="container">
	    <div class="row justify-content-center">
	      <div class="col-md-10 text-center">
	        <p class="lead text-white mb-5">
	          Aboniere unseren Newsletter und erhalte immer die neusten Infos zu unserem schönen Café.
	        </p>
	        <button data-toggle="modal" data-target="#newsletter-modal" type="button"
	          class="btn btn-outline-primary btn-round btn-lg">Newsletter abonnieren</button>
	      </div>
	      <!-- col -->
	    </div>
	    <!-- row -->
	  </div>
	  <!-- container -->
	</section>
	<!-- Ende Newsletter -->
