<!-- REF: https://bootsnipp.com/snippets/E1gVl -->
<section id="login">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Login</h1>
      </div>
    </div>

    <form>
      <div class="row">
        <div data-aos="fade-right" class="col-md-6 mb-4 pr-md-4 pl-md-5">
          <div class="input-group input-group-lg">
            <textarea name="nachricht" class="form-control" rows="6" placeholder="Nachricht"></textarea>
          </div>
        </div>
        <div data-aos="fade-left" class="col-md-6 pr-md-5 pl-md-4">
          <div class="input-group input-group-lg mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text icon-user bg-primary text-white"></span>
            </div>
            <input type="text" name="name" class="form-control" placeholder="Vollständiger Name">
          </div>
          <div class="input-group input-group-lg mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text icon-paper-plane bg-primary text-white"></span>
            </div>
            <input type="password" name="email" class="form-control" placeholder="Pasword">
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-round">Login</button>
        </div>
      </div>

    </form>
  </div>

</section>
