 <section id="product">
   <!--TITLE-->
   <div class="row mb-5">
     <div class="col-md-12 text-center">
       <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Nos Produits</h1>
     </div>
   </div>

   <div class="p-grid">

     <!-- DATAVIEW-->
     <div class="p-col">
       <p-dataView #dv [value]="products$ | async" [paginator]="true" [rows]="9" filterBy="title"
         [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">
         <!--HEADER-->
         <ng-template pTemplate="header">
           <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
             <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sélectionner par catégorie"
               (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
             <span class="p-input-icon-left p-mb-2 p-mb-md-0">
               <i class="pi pi-search"></i>
               <input type="search" pInputText placeholder="Recherche par titre"
                 (input)="dv.filter($event.target.value)">
             </span>
             <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
           </div>
         </ng-template>
         <!--LIST-->
         <ng-template let-product pTemplate="listItem">
           <div class="p-col-12">
             <div class="product-list-item">
               <img [src]="product.imageUrl" [alt]="product.name" />
               <div class="product-list-detail">
                 <div class="product-name">{{product.name}}</div>
                 <div class="product-description">{{product.summary}}</div>
                 <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
                 <i class="pi pi-tag product-category-icon"></i><span
                   class="product-category">{{product.category}}</span>
               </div>
               <div class="product-list-action">
                 <span class="product-price">{{product.price}} <i>Fcfa</i></span>
                 <button pButton (click)="addToChart(product)" class="p-button-raised p-button-rounded"
                   icon="pi pi-shopping-cart" label="Panier"></button>
               </div>
             </div>
           </div>
         </ng-template>

         <!--GRID-->
         <ng-template let-product pTemplate="gridItem">
           <div class="p-col-12 p-md-4">
             <div class="product-grid-item card">
               <div class="product-grid-item-top">
                 <div>
                   <i class="pi pi-tag product-category-icon"></i>
                   <span class="product-category">{{product.category}}</span>
                 </div>
               </div>
               <div class="product-grid-item-content">
                 <img class="product-img" [src]="product.imageUrl" [alt]="product.title" />
                 <div class="product-name">{{product.name}}</div>
                 <div class="product-description">{{product.summary}}</div>
                 <p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating>
               </div>
               <div class="product-grid-item-bottom p-p-1">
                 <span class="product-price pr-2">{{product.price}} <i>Fcfa</i></span>

                 <!--BUTTONS ON CARD-->
                 <div>
                   <button pButton pTooltip="To Notice" icon="pi pi-heart"
                     class="p-button-raised p-button-rounded mr-1"></button>

                   <button pButton (click)="addToChart(product)" pTooltip="To Cart" icon="pi pi-shopping-cart"
                     [ngClass]="isAlreadyClicked ? 'p-button-raised p-button-rounded' : 'p-button-raised p-button-outlined p-button-rounded'">

                   </button>
                 </div>
               </div>
             </div>
           </div>
         </ng-template>
       </p-dataView>
     </div>

   </div>
 </section>
