<div class="card">
<p-table [columns]="cols" #dv [value]="users" sortMode="multiple" dataKey="id" [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50,100]" styleClass="p-datable-users" [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [filterDelay]="0" [globalFilterFields]="['fName', 'lName', 'email', 'isAdmin']">
        <ng-template pTemplate="caption">
          List of Users
          <span class="p-input-icon-right p-mb-2 p-mb-md-0">
            
            <input pInputText type="search" (input)="dv.filterGlobal($event.target.value, 'contains')" placeholder="Global Search"><i class="pi pi-search"></i></span>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
            <th *ngFor="let col of columns">
              {{col.header}}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-users let-columns="columns" >
          <tr>
            <th style="width: 3rem">
                    <p-tableColumnsCheckbox></p-tableColumnsCheckbox>
                </th>
                
            <td *ngFor="let col of columns" (click)="select(users)" class="text-secondary"
              style="cursor: pointer;">
              {{users[col.field]}}
            </td>

            <button pButton pRipple icon="pi pi-pencil" class="p-button-round p-button-success p-mr-2" (click)="editUser(user)"></button>
                <button pButton pRipple icon="pi pi-pencil" class="p-button-round p-button-warning p-mr-2" (click)="deleteUser(user)"></button>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          There are {{users?.length}} Users
        </ng-template>
      </p-table>
</div>

<!--<div class="card">


// user dialog box
<p-dialog [(visible)]="userDialog" header=" User Details" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <img src="'assets/img/aboutus.jpg' + user.image" [alt]="user.image" class="user-image" *ngIf="user.image">
        <div class="p-field">
            <label for="fName">Name</label>
            <input type="text" pInputText id="fName" [(ngModel)]="user.fName" required autofocus/>
            <small class="p-invalid" *ngIf="submitted && !user.fName">
      </small>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
    </ng-template>
</p-dialog> -->