<h1>List of users!</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appUser of users; let i = index">
      <th scope="row">{{ i }}</th>
      <td>{{appUser.fName}}</td>
      <td>{{appUser.lName}}</td>
      <td>{{appUser.email}}</td>
      <td><button type="button" class="btn btn-danger">Delete</button></td>
    </tr>

  </tbody>
</table>
