<div class="col-md-12 text-center">
  <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Manage Users
    ({{appUsers ? appUsers.length : 0 }})</h1>
</div>
<div class="card">
  <!--TOOLBAR-->
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
        (click)="deleteSelectedAppUsers()" [disabled]="!selectedAppUsers || !selectedAppUsers.length"></button>
    </ng-template>
    <ng-template pTemplate="right">

      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button"></button>
    </ng-template>
  </p-toolbar>

  <!--TABLE-->
  <p-table #dt [value]="appUsers" [rows]="10" [paginator]="true" styleClass="p-datatable-striped"
    [globalFilterFields]="['lName','fName','isAdmin','email']" [(selection)]="selectedAppUsers" [rowHover]="true"
    dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Recherche..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox> </p-tableHeaderCheckbox>
        </th>
        <th>Avatar</th>
        <th pSortableColumn="fName">Prenom
          <p-sortIcon field="fName"></p-sortIcon>
        </th>
        <th pSortableColumn="lName">Nom
          <p-sortIcon field="lName"></p-sortIcon>
        </th>

        <th pSortableColumn="email">E-Mail
          <p-sortIcon field="email"> </p-sortIcon>
        </th>
        <th pSortableColumn="admin">Admin
          <p-sortIcon field="admin"> </p-sortIcon>
        </th>

        <th pSortableColumn="description">Description
          <p-sortIcon field="description"> </p-sortIcon>
        </th>

        <th> </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-appUser>
      <tr>
        <td>
          <p-tableCheckbox [value]="appUser"> </p-tableCheckbox>
        </td>
        <td>
          <img style="border-radius: 50%;" [src]="appUser.avatar" [alt]="appUser.avatar" class="p-shadow-0" />
        </td>
        <td>{{appUser.fName}}</td>
        <td>{{appUser.lName}}</td>
        <td>{{appUser.email}}</td>
        <td>
          <button pButton pRipple type="button" [icon]="appUser.isAdmin?'pi pi-star':'pi pi-minus-circle'"
            disabled="true"
            [class]="appUser.isAdmin?'p-button-rounded p-button-info p-button-outlined':'p-button-rounded p-button-danger p-button-outlined'"></button>
        </td>
        <td>{{appUser.description}}</td>
        <td>
          <button pButton pRipple icon="pi pi-info-circle" class="p-button-rounded p-button-success p-mr-2"
            (click)="displayAppUser(appUser)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="deleteAppUser(appUser)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{appUsers ? appUsers.length : 0 }} appUsers.
      </div>
    </ng-template>
  </p-table>
</div>

<!--USER DETAILS-->
<p-dialog [(visible)]="appUserDetailsDialog" [style]="{width: '450px'}" header="AppUsers Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <img [src]="appUser.avatar" [alt]="appUser.avatar" class="product-image" *ngIf="appUser.avatar">

    <div class="p-field">
      <label for="name">{{appUser.fName}}</label>
    </div>
    <div class="p-field">
      <label for="name">{{appUser.lName}}</label>
    </div>
    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="name">Est -il Administrateur ?</label>
      </div>
      <div class="p-field p-col">
        <label for="quantity">{{appUser.isAdmin}}</label>
      </div>
    </div>
    <div class="p-field">
      <label for="name">{{appUser.email}}</label>
    </div>
    <div class="p-field">
      <label for="name">{{appUser.description}}</label>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  </ng-template>
</p-dialog>

<!--POP CONFIRMATION-->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
