<div id="topic-detail" *ngIf="topic$ | async as topic" class="container-fluid">
  <div class="row mb-5">
    <div class="col-md-12 text-center">
      <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">{{ topic.title }}</h1>

      <div data-aos="fade-up" class="card mb-5 mb-sm-2">
        <img class="card-img-top" [src]="topic.imageUrl" alt="Silber Kaffee">
        <div class="card-body">
          <h3 class="card-title text-primary"> updated: {{topic.updatedDate}}</h3>
          <p class="card-text"> {{topic.content}}</p>
        </div>

      </div>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
  <form>
    <div class="row">
      <div data-aos="fade-right" class="col-md-6 mb-4 pr-md-4 pl-md-5">
        <div class="input-group input-group-lg">
          <textarea name="commentar" class="form-control" rows="6" placeholder="commentar"></textarea>
        </div>
      </div>
      <div data-aos="fade-left" class="col-md-6 pr-md-5 pl-md-4">
        <div class="input-group input-group-lg mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text icon-user bg-primary text-white"></span>
          </div>
          <input type="text" name="name" class="form-control" placeholder="Name">
        </div>
        <div class="input-group input-group-lg mb-4">
          <div class="input-group-prepend">
            <span class="input-group-text icon-paper-plane bg-primary text-white"></span>
          </div>
          <input type="email" name="email" class="form-control" placeholder="E-Mail">
        </div>
        <button (click)="gotoTopics(topic)" type="submit"
          class="btn btn-outline-primary btn-lg btn-block btn-round">Add</button>
      </div>
    </div>
    <!-- row -->
  </form>
  <p>
    <button class="btn" (click)="gotoTopics(topic)">Back</button>
  </p>
</div>
