<div class="col-md-12 text-center">
  <h1 *ngIf="products" data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Manage Product
    {{product ? products.length : 0}}</h1>
</div>
<div class="card">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi p-plus" class="p-button-success p-mr-2" (click)="openNew()"></button>
      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
        (click)="deleteSelectedProducts()" [disabled]="!selectedProducts || !selectedProducts.length"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
        class="p-mr-2 p-d-inline-block"></p-fileUpload>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="products" [rows]="10" [paginator]="true" [globalFilterFields]="['id', 'status', 'price']"
    [(selection)]="selectedProducts" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {first} of {totalRecords} entries" [showCurrentPageReport]="true">

    <!-- search section -->
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon>
        </th>
        <th pSortableColumn="category">Category <p-sortIcon field="category"></p-sortIcon>
        </th>
        <th pSortableColumn="rating">Reviews <p-sortIcon field="rating"></p-sortIcon>
        </th>
        <th pSortableColumn="inventoryStatus">Status <p-sortIcon field="inventoryStatus"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product>
      <tr>
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>

        <td>{{product.name}}</td>
        <td>{{product.price | currency:'USD'}}</td>
        <td>{{product.category}}</td>
        <td>
          <p-rating [readonly]="true" [cancel]="false"></p-rating>
        </td>
        <td>
          <!--<span
            [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span>-->
        </td>

        <td>
          <button pButton pRipple label="edit" class="p-button-rounded p-button-success p-mr-2"
            (click)="editProduct(product)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="deleteProduct(product)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{products ? products.length : 0 }} products.
      </div>
    </ng-template>
  </p-table>
</div>


<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Product Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">

    <!-- name of product -->
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !product.name">Name is required.</small>
    </div>

    <!-- Describtion of product -->
    <div class="p-field">
      <label for="description">Description</label>
      <textarea id="description" pInputTextarea required rows="3" cols="20"></textarea>
    </div>

    <!-- Product Category -->
    <div class="p-field">
      <label class="p-mb-3">Category</label>
      <div class="p-formgrid p-grid">
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category1" name="category" value="Accessories">
          </p-radioButton>
          <label for="category1">Accessories</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category2" name="category" value="Clothing"></p-radioButton>
          <label for="category2">Clothing</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category3" name="category" value="Electronics">
          </p-radioButton>
          <label for="category3">Electronics</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="category4" name="category" value="Fitness"></p-radioButton>
          <label for="category4">Fitness</label>
        </div>
      </div>
    </div>

    <!-- Price -->
    <div class="p-formgrid p-grid">
      <div class="p-field p-col">
        <label for="price">Price</label>
        <p-inputNumber id="price" mode="currency" currency="USD" locale="en-US">
        </p-inputNumber>
      </div>
      <div class="p-field p-col">
        <label for="quantity">Quantity</label>
        <p-inputNumber id="quantity"></p-inputNumber>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>


<!-- open new form-->
<p-dialog [(visible)]="productPost" [style]="{width: '450px'}" header="Add New Product" [modal]="true">
  <form [formGroup]="productForm" (ngSubmit)="doSubscription()">
    <div class="p-d-flex p-jc-center">
      <div class="p-grid">
        <!-- Name -->
        <div class="p-col-12">
          <div class="p-inputgroup">
            <label for="name">Name</label>
            <input type="text" pInputText id="name" formControlName="name" />
          </div>
        </div>

        <!-- Title -->
        <div class="p-col-12">
          <div class="p-inputgroup">
            <label for="name">Title</label>
            <input type="text" pInputText id="title" formControlName="title" />
          </div>
        </div>

        <!-- Description -->
        <div class="p-col-12">
          <div class="p-inputgroup">
            <label for="name">Content</label>
            <textarea id="description" pInputTextarea required rows="3" cols="20"
              formControlName="description"></textarea>
          </div>
        </div>

        <!-- Summary -->
        <div class="p-col-12">
          <div class="p-inputgroup">
            <label for="name">Summary </label>
            <input formControlName="summary" type="text" pInputText id="summary" />
          </div>
        </div>

        <!-- Image Url-->
        <div class="p-col-12">
          <div class="p-inputgroup">
            <label for="name">Image</label>
            <input formControlName="image" type="file" pInputText id="image" />
          </div>
        </div>

        <!-- Product Category -->
        <div class="p-field">
          <label class="p-mb-3">Category</label>
          <div class="p-formgrid p-grid">
            <div class="p-field-radiobutton p-col-6">
              <input type="ratio" id="category1" name="categoryGR" value="Accessories" formControlName="category" />

              <label for="category1">Accessories</label>
            </div>

            <div class="p-field-radiobutton p-col-6">
              <input type="ratio" id="category3" name="categoryGR" value="Electronics" formControlName="category" />

              <label for="category3">Electronics</label>
            </div>
            <div class="p-field-radiobutton p-col-6">
              <input type="ratio" id="category4" name="categoryGR" value="Fitness" formControlName="category" />

              <label for="category4">Fitness</label>
            </div>
          </div>
        </div>

        <!-- Price-->
        <div class="p-col-12">
          <div class="p-inputgroup">
            <label for="priceg">Price</label>
            <p-inputNumber ngDefaultControl formControlName="price" id="priceg" mode="currency" currency="USD"
              locale="en-US">
            </p-inputNumber>
          </div>
        </div>

      </div>
    </div>

    <div class="p-col-12">
      <button pButton pRipple label="Envoyer" icon="pi pi-check" type="submit" class="p-button-text"></button>
      <button pButton pRipple label="cancle" class="p-button-text" icon="pi pi-times" (click)="hideDialog()"></button>
    </div>
  </form>
</p-dialog>

<!--POP CONFIRMATION-->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
