<p>activity-center works!</p>
<div class="bg-overlay"></div>
<div class="container">
  <div class="row justify-content-center mb-5">
    <div class="col-md-8 text-center">
      <h1 class="text-danger mb-4">Ohne Bohne - kein Kaffee</h1>
      <p class="text-white">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie
        sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht
        offensiv gespielt.</p>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
  <div class="row justify-content-between">
    <div class="col-md text-center mx-5 mr-md-0 mr-lg-3 mb-5 mb-md-auto">
      <img class="img-fluid mb-4 rounded-circle" src="assets/img/arabica.jpg" alt="Arabica Bohne">
      <h3 class="text-danger mb-3">Arabica</h3>
      <p class="text-white px-4">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie
        sind.</p>
    </div>
    <!-- col -->
    <div class="col-md text-center mx-5 mx-md-0 mx-lg-3 mb-5 mb-md-auto">
      <img class="img-fluid mb-4 rounded-circle" src="assets/img/robusta.jpg" alt="Robusta Bohne">
      <h3 class="text-danger mb-3">Robusta</h3>
      <p class="text-white px-4">Genau zu diesem Zwecke erschaffen, immer im Schatten meines großen Bruders »Lorem
        Ipsum«, freue ich mich jedes Mal, wenn Sie ein paar Zeilen lesen. Denn esse est percipi.</p>
    </div>
    <!-- col -->
    <div class="col-md text-center mx-5 ml-md-0 ml-lg-3">
      <img class="img-fluid mb-4 rounded-circle" src="assets/img/blue-mountain.jpg" alt="Jamaica Blue Mountain Bohne">
      <h3 class="text-danger mb-3">Jamaica Blue Mountain</h3>
      <p class="text-white px-4">Quod erat demonstrandum. Seit 1975 fehlen in den meisten Testtexten die Zahlen,
        weswegen nach TypoGb. </p>
    </div>
    <!-- col -->
  </div>
  <!-- row -->
</div>
