<!-- Start  -->
<section id="start" class="start-bg mb-5">
  <a name="top"></a>
  <div class="container">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-5">
        <h1 class="text-primary mb-4">Bienvenue au MNS+237</h1>
        <p class="lead text-white">Votre premier partenaire. </p>
        <!--<p i18n class="lead text-white">Votre premier partenaire. </p>-->
        <app-search-ui> </app-search-ui>
      </div>
    </div>
  </div>
</section>

<!--  Our news -->
<section id="news" class="d-relative news-bg">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h1 data-aos="fade-in-up" data-aos-offset="100"
          class="text-primary mb-4">Actualités</h1>
        <p class="text-white">Suivez nos actualités pour être informé en tout
          temps.</p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-between">
      <div data-aos="fade-right"
        class="col-md text-center mx-5 mr-md-0 mr-lg-3 mb-5 mb-md-auto">
        <img class="img-fluid mb-4 rounded-circle" src="assets/img/CMR14.jpg"
          alt="Service 1">
        <h3 class="text-primary mb-3">CARE Service</h3>
        <p class="text-white px-4">There's nothing more important than
          safeguarding the health of you and your
          family.<br> While we're lucky enough to have the NHS, few people in
          CMR choose to take out private health
          insurance. Knowing what you get and whether it's worth it can be hard
          to work out, so here's what you need to
          know. </p>
      </div>
      <!-- col -->
      <div data-aos="fade-up"
        class="col-md text-center mx-5 mx-md-0 mx-lg-3 mb-5 mb-md-auto">
        <img class="img-fluid mb-4 rounded-circle" src="assets/img/CMR15.jpg"
          alt="Service 2">
        <h3 class="text-primary mb-3">COVI-19 CMR+237</h3>
        <p class="text-white px-4">Travel in <b>Cameroon</b><br> Travel within
          the country should be limited to
          essential travel only. The authorities have banned public transport (
          taxis, noses, motorbikes) from taking
          more passengers than they have seats. You must ware a mask or face
          covering to be allowed to enter any airport
          in Cameroon.</p>
      </div>
      <!-- col -->
      <div data-aos="fade-left" class="col-md text-center mx-5 ml-md-0 ml-lg-3">
        <img class="img-fluid mb-4 rounded-circle" src="assets/img/CMR8.jpg"
          alt="Service 3">
        <h3 class="text-primary mb-3">WATER in CMR237</h3>
        <p class="text-white px-4"><b>Cameroon</b>, with high rainfall
          throughout much of the country and much of the
          year, and a dense network of perennial rivers, has abundant surface
          water resources. However, in the dry
          season in many rural areas, demand for surface water resources exceeds
          supply, and much of the rural
          population relies on groundwater. </p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->

  </div>
  <div class="row justify-content-center mt-5">
    <a routerLink="/posts" role="button"
      class="btn btn-outline-primary btn-round btn-lg mt-2 smooth"><small><span
          class="icon-arrow-down-circle pr-2"></span></small>Je Souhaite
      Decouvrir la Suite</a>
  </div>
  <!-- container -->
</section>
<app-product-landing-view></app-product-landing-view>
<!-- Start AboutUs -->
<app-about> </app-about>
<hr />
<app-newsletter> </app-newsletter>
<hr />
<!-- Contact -->
<section id="contact" class="mb-5 text-center">
  <app-contact-form></app-contact-form>
</section>
<!-- Galleries -->
<section class="bg-dark">
  <app-gallery-shared> </app-gallery-shared>
</section>
<!--threshold is 400 by default-->
<p-scrollTop styleClass="ghis-custom-scrolltop"></p-scrollTop>
