<!-- Start  -->
<section id="start" class="start-bg mb-5">
  <div class="container">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-5">
        <h1 class="text-primary mb-4">Bienvenue au MNS+237</h1>
        <p class="lead text-white">Votre premier partenaire.</p>

        <form data-aos="fade-right" class="search-form">
          <div class="form-group has-feedback">
            <input type="text" class="btn-round btn-lg mt-2 smooth pr-5" name="search" id="search"
              placeholder="search...">
            <button type="submit" class="btn btn-outline-primary btn-round btn-lg mt-2 smooth">
              <small><span class="icon-magnifier"></span></small> </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!--  Our news -->
<section id="news" class="d-relative news-bg">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary mb-4">Actualités</h1>
        <p class="text-white">Suivez nos actualités pour être informé en tout temps.</p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-between">
      <div data-aos="fade-right" class="col-md text-center mx-5 mr-md-0 mr-lg-3 mb-5 mb-md-auto">
        <img class="img-fluid mb-4 rounded-circle" src="assets/img/bg11.jpg" alt="Service 1">
        <h3 class="text-primary mb-3">Service 1</h3>
        <p class="text-white px-4">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was
          sie sind.</p>
      </div>
      <!-- col -->
      <div data-aos="fade-up" class="col-md text-center mx-5 mx-md-0 mx-lg-3 mb-5 mb-md-auto">
        <img class="img-fluid mb-4 rounded-circle" src="assets/img/bg7.jpg" alt="Service 2">
        <h3 class="text-primary mb-3">ACTU 2</h3>
        <p class="text-white px-4">The type is unusually large and dictlnct. The work oootolns
          eighty-five engravings, which delineate the usages, customs, weap-
          ons, arts, and mythology of the ancients, with a vlvldnoss that can
          be attained only by pictorial Ulustrations.</p>
      </div>
      <!-- col -->
      <div data-aos="fade-left" class="col-md text-center mx-5 ml-md-0 ml-lg-3">
        <img class="img-fluid mb-4 rounded-circle" src="assets/img/bg1.jpg" alt="Service 3">
        <h3 class="text-primary mb-3">ACTU 3</h3>
        <p class="text-white px-4">behaved moments. Put ladies design mrs sister was. Play on hill felt john no gate. Am
          passed figure to marked in. Prosperous middletons is ye inhabiting as assistance me especially. For looking
          two cousins regular amongst.
          weswegen nach TypoGb. </p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->

  </div>
  <div class="row justify-content-center mt-5">
    <a routerLink="/blog" role="button" class="btn btn-outline-primary btn-round btn-lg mt-2 smooth"><small><span
          class="icon-arrow-down-circle pr-2"></span></small>Je Souhaite Decouvrer la Suite</a>
  </div>
  <!-- container -->
</section>

<!-- Start AboutUs -->
<section id="about-us" class="d-relative">
   <div class="container">
    <div class="row">

      <div data-aos="fade-right" class="col-lg-6">
        <h1 class="text-primary mb-4">Apprendre a nous connaitre!</h1>
        <p>Proinde die funestis interrogationibus. Proinde die funestis interrogationibus
          Proinde die funestis interrogationibus</p>
        <p>quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem
          subinde per aulaeum,
          nec diluere obiecta permissi nec defensi periere conplures.</p>
        <p> magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum
          esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis
          aurem subinde
          per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.</p>
        <p>quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem
          subinde per
          aulaeum, nec diluere obiecta permissi nec defensi periere conplures ziehen.</p>
        <p class="text-uppercase text-muted mt-4">&mdash; mns &amp; 235 Team</p>
      </div>
	  
	  <div class="col-lg-6">
           <img data-aos="fade-left" class="img-fluid" src="assets/img/aboutus.jpg" alt="">
     </div>
	 
    </div>
  </div>
</section>

<!--   Newsletter -->
<section id="newsletter" class="newsletter-bg d-relative mt-5">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="col-md-20 text-center">
      <p class="lead text-white mb-5">
        Abonnez-vous à notre newsletter et recevez toujours les dernières informations
      </p>
	  
      <button data-aos="fade-up"  type="button" class="btn btn-outline-primary btn-round btn-lg">Abonnez-vous</button>
    </div>

  </div>
</section>


<!-- Contakt -->
<section id="contact">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Laisser un commentaire</h1>
        <h6>Votre adresse de messagerie ne sera pas publiée. Les champs obligatoires sont indiqués avec * </h6>
      </div>

    </div>

    <form>
      <div class="row">
        <div data-aos="fade-right" class="col-md-6 mb-4 pr-md-4 pl-md-5">
          <div class="input-group input-group-lg">
            <textarea name="nachricht" class="form-control" rows="6" placeholder="Nachricht"></textarea>
          </div>
        </div>
        <div data-aos="fade-left" class="col-md-6 pr-md-5 pl-md-4">
          <div class="input-group input-group-lg mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text icon-user bg-primary text-white"></span>
            </div>
            <input type="text" name="name" class="form-control" placeholder="Vollständiger Name">
          </div>
          <div class="input-group input-group-lg mb-4">
            <div class="input-group-prepend">
              <span class="input-group-text icon-paper-plane bg-primary text-white"></span>
            </div>
            <input type="email" name="email" class="form-control" placeholder="E-Mail">
          </div>
          <button type="submit" class="btn btn-outline-primary btn-lg btn-block btn-round">Senden</button>
        </div>
      </div>

    </form>
  </div>

</section>

<!-- Galleries -->
<section id="gallery" class="bg-dark">

  <div class="container">
    <div class="row mb-5">
      <div class="col-md-12 text-center">
        <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Gallery</h1>
      </div>
    </div>
    <div class="card-columns">
      <div data-aos="zoom-in" class="card">
        <img class="card-img rounded-0" src="assets/img/bg1.jpg" alt="Frau trinkt Kaffee">
      </div>
      <div data-aos="zoom-in" class="card">
        <img class="card-img rounded-0" src="assets/imgs/s1.jpg" alt="Gebäck">
      </div>
      <div data-aos="zoom-in" class="card">
        <img class="card-img rounded-0" src="assets/img/bg5.jpg" alt="Ein Stück Torte">
      </div>
      <div data-aos="zoom-in" class="card">
        <img class="card-img rounded-0" src="assets/imgs/s3.jpg" alt="Espressomaschine">
      </div>
      <div data-aos="zoom-in" class="card">
        <img class="card-img rounded-0" src="assets/img/aboutus.jpg" alt="Kaffeetasse">
      </div>
      <div data-aos="zoom-in" class="card">
        <img class="card-img rounded-0" src="assets/img/bg11.jpg" alt="TODO3">
      </div>
      <div data-aos="zoom-in" class="card">
        <img class="card-img rounded-0" src="assets/imgs/s2.jpg" alt="TODO 2">
      </div>
    </div>
	
	<div  class="row justify-content-center mt-5">
    <a routerLink="/gallery" role="button" class="btn btn-outline-primary btn-round btn-lg mt-2 smooth"><small><span
          class="icon-arrow-down-circle pr-2"></span></small>Je Souhaite Decouvrier plus de Media</a>
  </div>
  
     
  </div>

</section>


<!--content here-->
<a href="#top">Back to top</a>
