<section>

  <a name="top"></a>

  <div class="container bg-black">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-5">
        <h1 class="text-primary mb-4">Any Sentence 1</h1>
        <p class="lead text-black">Proinde die funestis interrogationibus praestituto imaginarius iudex equitum resedit
          magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum
          esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis
          aurem
          subinde per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.</p>
        <a role="button" class="btn btn-outline-primary btn-round btn-lg mt-2"><small><span
              class="icon-arrow-down-circle pr-2" routerLink="/home"></span></small>Home Button (TODO)</a>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>


</section>

<!-- Start Our Services-->
<section id="services" class="d-relative services-bg">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center">
        <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary mb-4">Our Services</h1>
        <p class="text-white">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was sie
          sind. Ich lese nicht sehr viele Zeitungen, aber ich habe gehört viele Situationen. Erstens: wir haben nicht
          offensiv gespielt.</p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
    <div class="row justify-content-between">
      <div data-aos="fade-right" class="col-md text-center mx-5 mr-md-0 mr-lg-3 mb-5 mb-md-auto">
        <img class="img-fluid mb-4 rounded-circle" src="assets/imgs/s1.jpg" alt="Service 1">
        <h3 class="text-primary mb-3">Service 1</h3>
        <p class="text-white px-4">Es gibt im Moment in diese Mannschaft, oh, einige Spieler vergessen ihnen Profi was
          sie sind.</p>
      </div>
      <!-- col -->
      <div data-aos="fade-up" class="col-md text-center mx-5 mx-md-0 mx-lg-3 mb-5 mb-md-auto">
        <img class="img-fluid mb-4 rounded-circle" src="assets/imgs/s3.jpg" alt="Service 2">
        <h3 class="text-primary mb-3">Service 2</h3>
        <p class="text-white px-4">The type is unusually large and dictlnct. The work oootolns
          eighty-five engravings, which delineate the usages, customs, weap-
          ons, arts, and mythology of the ancients, with a vlvldnoss that can
          be attained only by pictorial Ulustrations.</p>
      </div>
      <!-- col -->
      <div data-aos="fade-left" class="col-md text-center mx-5 ml-md-0 ml-lg-3">
        <img class="img-fluid mb-4 rounded-circle" src="assets/imgs/s1.jpg" alt="Service 3">
        <h3 class="text-primary mb-3">Service 3</h3>
        <p class="text-white px-4">behaved moments. Put ladies design mrs sister was. Play on hill felt john no gate. Am
          passed figure to marked in. Prosperous middletons is ye inhabiting as assistance me especially. For looking
          two cousins regular amongst.
          weswegen nach TypoGb. </p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- Ende die Bohne -->
<!--content here-->
<a href="#top">Back to top</a>
