<section id="blog">
  <!--TITLE-->
  <div class="row mb-5">
    <div class="col-md-12 text-center">
      <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Nos Actualités</h1>
    </div>

  </div>

  <div class="p-grid">
    <div class="p-col-8">
      <p-fieldset legend="RECENT POSTS">
        <p-listbox [options]="recentPosts" optionLabel="title"></p-listbox>
      </p-fieldset>
    </div>
    <!-- DATAVIEW-->
    <div class="p-col-12">

      <p-dataView #dv [value]="blogs" [paginator]="true" [rows]="5" filterBy="title" [sortField]="sortField"
        [sortOrder]="sortOrder" layout="list">
        <!--HEADER-->
        <ng-template pTemplate="header">
          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
            <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sélectionner par catégorie"
              (onChange)="onSortChange($event)" styleClass="p-mb-2 p-mb-md-0"></p-dropdown>
            <span class="p-input-icon-left p-mb-2 p-mb-md-0">
              <i class="pi pi-search"></i>
              <input type="search" pInputText placeholder="Recherche par titre"
                (input)="dv.filter($event.target.value)">
            </span>
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
          </div>
        </ng-template>
        <!--LIST-->
        <ng-template let-blog pTemplate="listItem">
          <div class="p-col-12">
            <div class="blog-list-item">
              <img [src]="blog.imageUrl" [alt]="blog.title" />
              <div class="blog-list-detail">
                <div class="blog-name">{{blog.title}}</div>
                <div class="blig-item"><article>publishedDate: {{blog.publishedDate}}</article></div>
                <div class="blog-description">{{blog.content}}</div>
                <hr>
                           
              <span ><i class="pi pi-thumbs-up"></i>Like  </span>&nbsp;
              <span ><i class="pi pi-thumbs-down"></i>Unlike  </span>&nbsp;
              <span ><i class="pi pi-globe"></i>Public  </span>&nbsp;
              <span ><i class="pi pi-comments"></i>comment  </span>
                            <br>
                            

                <button routerLink="./{{blog.id}}" pButton type="button" label="Lire plus..."
                  class="p-m-2 p-button-raised-sm p-button-rounded"></button>
              </div>

            </div>
          </div>
        </ng-template>
        <!--GRID-->
        <ng-template let-blog pTemplate="gridItem">
          <div class="p-col-12 p-md-5">
            <div class="blog-grid-item card">
              <div class="blog-grid-item-content">
                <img [src]="blog.imageUrl" [alt]="blog.title" />
                <div class="blog-name"><article>{{blog.title}}</article></div>
                <div class="blig-item"><article>publishedDate: {{blog.publishedDate}}</article></div>
                <div class="blog-description"><article>{{blog.content}}</article></div>
                <hr>

                           
              <span ><i class="pi pi-thumbs-up"></i>Like  </span>&nbsp;
              <span ><i class="pi pi-thumbs-down"></i>Unlike  </span>&nbsp;
              <span ><i class="pi pi-globe"></i>Public  </span>&nbsp;
              <span ><i class="pi pi-comments"></i>comment  </span>
                            <br>
                <p-rating [ngModel]="blog.rating" [readonly]="true" [cancel]="false"></p-rating>
                <button routerLink="./{{blog.id}}" pButton type="button" label="Lire plus..."
                  class="p-m-1 p-button-raised-sm p-button-rounded"></button>
              
             
                </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>

    </div>

  </div>
</section>
