   <section>
     <!--TITLE-->
     <div class="row mb-5">
       <div class="col-md-12 text-center">
         <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary"> Error occurs (404)!</h1>
       </div>
     </div>


     <div class="col-md-12 text-center">
       <div class="error-template">
         <h3>Oops!</h3>
         <h2>Page Not Found</h2>
         <div class="error-details mb-3">
           We're sorry, we couldn't find the page you requested!.

         </div>
         <div class="error-details mb-3">
           If you feel something is missing that should be here,<a href="#contact"> contact us </a>.
         </div>
         <div class="error-actions">
           <a routerLink="/home" class="btn btn-outline-primary btn-lg btn-block btn-round">
             Go Back to Home
           </a>
         </div>
       </div>
     </div>
   </section>
