<section>
  <h1>Just a prototyp 1!</h1>
  <div class="container bg-black">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-5">
        <h1 class="text-primary mb-4">Any Sentence 1</h1>
        <p class="lead text-black">Proinde die funestis interrogationibus praestituto imaginarius iudex equitum resedit
          magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum
          esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis
          aurem
          subinde per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.</p>
        <a role="button" class="btn btn-outline-primary btn-round btn-lg mt-2"><small><span
              class="icon-arrow-down-circle pr-2"></span></small>Home Button (TODO)</a>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
</section>
