<section>
  <h1>Just a prototyp 1!</h1>
  <div class="container bg-black">
    <div class="row justify-content-end align-items-center">
      <div class="col-md-5">
        <h1 class="text-primary mb-4">Any Sentence 1</h1>
        <p class="lead text-black">Proinde die funestis interrogationibus praestituto imaginarius iudex equitum resedit
          magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum
          esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis
          aurem
          subinde per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.</p>
        <a role="button" class="btn btn-outline-primary btn-round btn-lg mt-2"><small><span
              class="icon-arrow-down-circle pr-2"></span></small>Home Button (TODO)</a>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
</section>

<!-- Start About -->
<section id="ueber-uns" class="d-relative">
  <div class="img-bg d-none d-lg-inline">
    <img class="img-fluid" src="assets/imgs/aboutus.jpg" alt="About Image">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="text-primary mb-4">Lerne uns kennen!</h1>
        <p>Überall dieselbe alte Leier. Das Layout ist fertig, der Text lässt auf sich warten. Damit das Layout nun
          nicht nackt im Raume steht und sich klein und leer vorkommt, springe ich ein: der Blindtext.</p>
        <p>Genau zu diesem Zwecke erschaffen, immer im Schatten meines großen Bruders »Lorem Ipsum«, freue ich mich
          jedes Mal, wenn Sie ein paar Zeilen lesen. Denn esse est percipi - Sein ist wahrgenommen werden.</p>
        <p>Und weil Sie nun schon die Güte haben, mich ein paar weitere Sätze lang zu begleiten, möchte ich diese
          Gelegenheit nutzen, Ihnen nicht nur als Lückenfüller zu dienen, sondern auf etwas hinzuweisen, das es ebenso
          verdient wahrgenommen zu werden: Webstandards nämamalich. Sehen Sie, Webstandards sind das Regelwerk, auf dem
          Webseiten aufbauen.</p>
        <p>So gibt es Regeln für HTML, CSS, JavaScript oder auch XML; Worte, die Sie vielleicht schon einmal von Ihrem
          Entwickler gehört haben. Diese Standards sorgen dafür, dass alle Beteiligten aus einer Webseite den größten
          Nutzen ziehen.</p>
        <p class="text-uppercase text-muted mt-4">&mdash; Mns 237 &amp; Team</p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- Ende Über uns -->


<!-- Start Newsletter -->
<section id="newsletter" class="newsletter-bg d-relative">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 text-center">
        <p class="lead text-white mb-5">
          Aboniere unseren Newsletter und erhalte immer die neusten Infos zu unserem schönen Café.
        </p>
        <button data-toggle="modal" data-target="#newsletter-modal" type="button"
          class="btn btn-outline-primary btn-round btn-lg">Newsletter abonnieren</button>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- Ende Newsletter -->
