
<section>
<div class="container-fluid mb-3">


 <p-dataView #dv [value]="pictures$ | async" [paginator]="true" [rows]="6" filterBy="title" [sortField]="sortField"
        [sortOrder]="sortOrder" layout="list">
<ng-template pTemplate="listItem" let-photo>
  <div class="p-col-12 p-md-4">
    <div class="product-grid-item card">
        <div class="product-grid-item-top">
          
            <div>
                   <i class="pi pi-tag product-category-icon"></i>
                   <div class="product-name">{{photo.title}}</div>
                 </div>
          </div>
<div class="product-grid-item-content">
    <img class="product-img" [src]="photo.src" [alt]="photo.alt" />
      <div class="product-name">{{photo.publishedDate | date: 'fullDate'}}</div>
  <div class="product-grid-item-bottom p-p-1">
    <span class="product-price pr-2">Summary: {{photo.summary}}</span>

  </div>


</div>

</div>
</div>
</ng-template>
</p-dataView>
</div>

<div class="intro">
  <h2>Image Gallery</h2>
  <p>Select a thumbail bellow</p>
</div>
<div id="image-gallery">
  {{photo.title}}
  <div id="image-thumbs"></div>
</div>
</section>


  