
<p></p><br>
<div class="contain" xmlns="">
  <p-fileUpload name="myfile[]" customUpload="true" multiple="multiple" (uploadHandler)="myUploader($event)" accept="image/jpeg">
    <ng-template pTemplate="toolbar">
      <div>Upload Images/files</div>
    </ng-template>
    <ng-template left-file pTplate="file">
      <div>Custom UI to Display a file</div>
    </ng-template>
    <ng-template pTemplate="content" left-file>
      <div>Additional content</div>
    </ng-template>
  </p-fileUpload>
</div>
<div class="container-fluid mb-3">





  <!---Copy from Idrcie project -->
  <h1 *ngFor="let f of funny" class="text-danger">
    <marquee> ENJOY OUR GALLERY.</marquee>
  </h1>

  <div class="img">
    <a target="_blank" href="CMR6.jpg">
      <img src="assets/img/CMR6.jpg" alt="Trolltunga Norway">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/bg4.jpg">
      <img src="assets/img/bg4.jpg" alt="Forest">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/aboutus.jpg">
      <img src="assets/img/aboutus.jpg" alt="Northern Lights">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/bg8.jpg">
      <img src="assets/img/bg8.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR10.jpg">
      <img src="assets/img/CMR10.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR11.jpg">
      <img src="assets/img/CMR11.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/bg6.jpg">
      <img src="assets/img/bg6.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR12.jpg">
      <img src="assets/img/CMR12.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/bg5.jpg">
      <img src="assets/img/bg5.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR13.jpg">
      <img src="assets/img/CMR13.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/bg4.jpg">
      <img src="assets/img/bg4.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR14.jpg">
      <img src="assets/img/CMR14.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/bg1.jpg">
      <img src="assets/img/bg1.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/bg1.jpg">
      <img src="assets/img/bg1.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR17.png">
      <img src="assets/img/CMR17.png" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR16.png">
      <img src="assets/img/CMR16.png" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR15.jpg">
      <img src="assets/img/CMR15.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR18.png">
      <img src="assets/img/CMR18.png" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR19.png">
      <img src="assets/img/CMR19.png" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR9.jpg">
      <img src="assets/img/CMR9.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>

  <div class="img">
    <a target="_blank" href="assets/img/CMR7.jpg">
      <img src="assets/img/CMR7.jpg" alt="Mountains">
    </a>
    <div class="desc">Add a description of the image here</div>
  </div>


  <!---Copy from Idrcie project-->
  <h1 *ngFor="let f of funny" class="text-danger">
    <marquee> ENJOY OUR GALLERY.</marquee>
  </h1>

</div>
