
<div>
	
		
		<div class="modal-box">
			<h4>For your Business</h4>
			<div ><p-button label="All categories" styleClass="p-button-secondary pButton pRipple p-button-lg p-mr-2" icon="pi pi-microsoft" class="floating-but"> </p-button></div>

			<div class="floating-but"><p-button label="Request for Quotation" styleClass="p-button-primary p-button-raised p-button-raised p-button-lg" icon="pi pi-world"> </p-button></div>

			<div class="floating-but"><p-button label="Ready to Ship" styleClass="p-button-success p-button-raised p-button-raised p-button-lg" icon="pi pi-check"> </p-button></div>

			<div class="floating-but"><p-button label="Worldwide selection" styleClass="p-button-warning p-button-raised p-button-raised p-button-lg" icon="pi pi-globe"></p-button></div>

			<div class="floating-but"><p-button label="Logistics Service" styleClass="p-button-help p-button-raised p-button-raised p-button-lg" icon="pi pi-slack"> </p-button></div>

			<div class="floating-but"><p-button label="Drop shipping" styleClass="p-button-danger p-button-raised p-button-raised p-button-lg" icon="pi pi-file-import"> </p-button></div>
		</div>

	<br>

	
	<div class="modal-box">
		<h4>Top Ranking</h4>
		<p-card class="p-shadow-2">
			<p-carousel #dv [value]="products$ | async" [value]="products" [circular]="true" indicatorsPosition="Top" [autoplayInterval]="3000"
       [numVisible]="4"
       [numScroll]="1" [responsiveOptions]="responsiveOptions">
       	<p-header class="text-center">
         <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Top Ranking</h1>
       </p-header>

       <ng-template let-product pTemplate="item">
         <div class="product-item">
           <div class="product-item-content">
             <div class="p-mb-1">
               <img [src]="product.imageUrl" [alt]="product.name" class="product-image" />
             </div>
             <div>
               <h4 class="p-mb-1">{{product.name}}</h4>
               <h6 class="p-mt-0 p-mb-3">{{product.price}} <i>Fcfa</i></h6>

               <div class="car-buttons p-mt-5">
                 <button pButton styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-cog"></button>
                 <button pButton styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star">
                 </button>
                 <button (click)="addToChart(product)" pButton styleClass="p-button-help p-button-rounded"
                   icon="pi pi-shopping-cart"></button>
               </div>
             </div>
           </div>
         </div>
       </ng-template>
       </p-carousel>
		</p-card>
	</div>

	<div class="modal-box">
		<h4>New Arrivals</h4>
		<p-card class="p-shadow-4">
			<p-carousel #dv [value]="products$ | async" [value]="products" [circular]="true" indicatorsPosition="Top" [autoplayInterval]="3000"
       [numVisible]="3"
       [numScroll]="1" [responsiveOptions]="responsiveOptions">
       	<p-header class="text-center">
         <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">New Arrivals</h1>
       </p-header>

       <ng-template let-product pTemplate="item">
         <div class="product-item">
           <div class="product-item-content">
             <div class="p-mb-3">
               <img [src]="product.imageUrl" [alt]="product.name" class="product-image" />
             </div>
             <div>
               <h4 class="p-mb-1">{{product.name}}</h4>
               <h6 class="p-mt-0 p-mb-3">{{product.price}} <i>Fcfa</i></h6>

               <div class="car-buttons p-mt-5">
                 <button pButton styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-cog"></button>
                 <button pButton styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star">
                 </button>
                 <button (click)="addToChart(product)" pButton styleClass="p-button-help p-button-rounded"
                   icon="pi pi-shopping-cart"></button>
               </div>
             </div>
           </div>
         </div>
       </ng-template>
       </p-carousel>
		</p-card>
	</div>
</div>

