<h1 class="text-primary mb-4">ADMIN</h1>
<!-- REF: https://github.com/wrappixel/monster-angular-lite/blob/master/angular-10/src/app/shared/sidebar/sidebar.component.ts -->

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
      <nav class="left-sidebar">
        <ul id="sidebarnav" style="list-style-type:none">
          <li class="nav-devider"></li><br><br>
          <!-- First level menu -->
          <li [class.active]="showMenu === sidebarnavItem.title"
            *ngFor="let sidebarnavItem of sidebarnavItems"
            [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
            <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div>
            <a
              [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
              [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
              (click)="addExpandClass(sidebarnavItem.title)"
              [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
              <i [ngClass]="[sidebarnavItem.icon]"></i>&nbsp;&nbsp;
              <span class="hide-menu">{{sidebarnavItem.title}}</span>
            </a><br><br>
          </li>

        </ul>
      </nav>
    </div>
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
