<section>
  <p-sidebar [(visible)]="display">
    <ul class="nav flex-column">
      <li class="nav-item" [class.active]="showMenu === sidebarnavItem.title"
        *ngFor="let sidebarnavItem of sidebarnavItems"
        [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
        <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div>
        <a class="nav-link" [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
          [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
          (click)="addExpandClass(sidebarnavItem.title)"
          [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
          <i [ngClass]="[sidebarnavItem.icon]"></i>&nbsp;&nbsp;
          <span class="hide-menu">{{sidebarnavItem.title}}</span>
        </a>
      </li>

      <li><a [routerLink]="['/login']">Logout</a></li>

    </ul>
  </p-sidebar>

  <p-button type="text" (click)="display = true" icon="pi pi-plus" label="Show"></p-button>
  <router-outlet></router-outlet>
</section>
