/*******************
Main sidebar
******************/

.left-sidebar {
  position: fixed;
  width: 40;
  height: 50%;
  top: 0px;
  *z-index: 10;
  padding-top: 64px;
  /*background: darkred;*/
  box-shadow: royalblue;
  transition: 0.2s ease-in;
}


.sidebar-nav li.active>.has-arrow::after,
.sidebar-nav li>.has-arrow.active::after,
.sidebar-nav .has-arrow[aria-expanded="true"]::after {
  -webkit-transform: rotate(-135deg) translate(0, -50%);
  -ms-transform: rotate(-135deg) translate(0, -50%);
  -o-transform: rotate(-135deg) translate(0, -50%);
  transform: rotate(-135deg) translate(0, -50%);
}

.collapse.in {
  display: block;
}

ul#sidebarnav li a{
  margin: 10px;
  background-color: gray;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}
ul#sidebarnav li :hover{
  background-color: orange;
}
ul#sidebarnav {
  padding: 0;
}