<section>

  <p-sidebar [(visible)]="display">
    <!--JUst for fun!!-->
    <p-progressBar mode="indeterminate"></p-progressBar>

    <p-progressBar class="p-mb-6" [showValue]="false" [value]="100"></p-progressBar>

    <!--OUr MENU-->
    <p-menu class="p-mt-6" [model]="items">

    </p-menu>

    <!--
          <ul class="nav flex-column">
      <li class="nav-item" [class.active]="showMenu === sidebarnavItem.title"
        *ngFor="let sidebarnavItem of sidebarnavItems"
        [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
        <div class="nav-small-cap" *ngIf="sidebarnavItem.extralink === true">{{sidebarnavItem.title}}</div>
        <a class="nav-link" [routerLink]="sidebarnavItem.class === '' ? [sidebarnavItem.path] : null"
          [ngClass]="[sidebarnavItem.class]" *ngIf="!sidebarnavItem.extralink;"
          (click)="addExpandClass(sidebarnavItem.title)"
          [routerLinkActive]="sidebarnavItem.submenu.length != 0 ? '' : 'active'">
          <i [ngClass]="[sidebarnavItem.icon]"></i>&nbsp;&nbsp;
          <span class="hide-menu">{{sidebarnavItem.title}}</span>
        </a>
      </li>

      <li><a [routerLink]="['/login']">Logout</a></li>
      <li>
        <button pButton (click)="display = true" icon="pi pi-th-large" label="Show Menu"></button>
      </li>
    </ul> -->

  </p-sidebar>

  <button pButton (click)="display = true" icon="pi pi-th-large" label="Show Menu"></button>
  <router-outlet></router-outlet>
</section>
