<!-- Footer
  ============================================================================================= -->
<footer class="mt-5">
  <div class="container-fluid bg-primary py-3">
    <div class="row">
      <div class="col-md-12 text-center">
        <a href="http://localhost:4200/contact" target="_blank" class="px-2"><span
            class="text-white icon-social-facebook"></span></a>
        <a href="https://plus.google.com/mns237" target="_blank" class="px-2"><span
            class="text-white icon-social-google"></span></a>
        <a href="https://www.instagram.com/mns237/" target="_blank" class="px-2"><span
            class="text-white icon-social-instagram"></span></a>
        <a href="assets/data/User Manual.pdf" target="_blank"><span>user guide!</span></a>
      </div>
      <div class="col-md-12 text-center mt-3 text-white">
        <p>created by <a class="text-white" href="https://www.idrice-brothers.io" target="_blank">Idrice&amp;Brothers
            Consulting</a>
          &minus;
          &copy; <span id="jahr">2020</span>
          <span class="pull-right"> English &minus; French </span>

        </p>
      </div>
    </div>
    <!-- row -->
  </div>
</footer>
