<!--TITLE-->
<section>
  <div class="row mb-5">
    <div class="col-md-12 text-center">
      <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">BLOG</h1>
    </div>
  </div>

  <p-fieldset *ngIf="selectedTopic" [legend]="header" [toggleable]="true">

    {{selectedTopic.content}}
  </p-fieldset><br>
  <!--@Idrce can you explain-->
  <div class="content">

    <hr>
    <p *ngFor="let comment of postComment">
      {{comment}}
    </p>
    <hr>
    <textarea [(ngModel)]="comment"></textarea>
    <br><br>
    <button (click)="post()">Send</button>
  </div>
  <!--@Idirce END : can you explain-->

  <!--My Tasks:
   1. Copy from Contact form
  2. Remove all Bindings with Component:ie [formGroup]="sendForm" to avoid error
  3. Only HTML elements should use here first: Design is finished
  4. Arrage Layout And RUN my stuffs NO error -->
  <form>
    <div class="p-fluid p-grid">

      <div class="p-col p-ai-stretch">
        <div class="p-inputgroup">
          <textarea pInputTextarea formControlName="msg" style="height:160px" placeholder="Message"></textarea>
        </div>
      </div>

      <div class="p-col">
        <div class="p-field p-grid">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input formControlName="name" pInputText type="text" placeholder="Nom">
          </div>
        </div>

        <div class="p-field p-grid">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
            <input pInputText formControlName="email" type="text" placeholder="Email">
          </div>
        </div>

        <div class="p-field p-grid">
          <button pButton pRipple [disabled]="true" type="submit" label="Post your Comments"
            class="p-button-rounded"></button>
        </div>
      </div>
    </div>
  </form>

</section>
