<!--TITLE-->
<section>
  <div class="row mb-5">
    <div class="col-md-12 text-center">
      <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">BLOG</h1>
    </div>
  </div>

  <p-fieldset *ngIf="selectedTopic" [legend]="header" [toggleable]="true">

    {{selectedTopic.content}}
  </p-fieldset><br>
  <div class="content">

    <hr>
    <p *ngFor="let comment of postComment">
    {{comment}}
  </p>
    <hr>
    <textarea [(ngModel)]="comment"></textarea>
    <br><br>
    <button (click)="post()" >Send</button>
  </div>

</section>
