
<!-- Grid row -->

  <h1>
    <marquee> List of videos.</marquee>
  </h1>

<!-- <p-table [value]="videos">
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of cols">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-video>
        <tr>
            <td *ngFor="let col of cols">
                    {{videos[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table> -->

<p-table [columns]="cols" [value]="videos">
    <ng-template pTemplate="caption">
        List of Videos
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
            {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
        <tr>
            <td *ngFor="let col of columns">
            {{col.header}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        There are {{videos?.length}} videos
    </ng-template>
</p-table>