<div class="col-md-12 text-center">
  <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Manage Blogs
    ({{appBlogs ? appBlogs.length : 0 }})</h1>
</div>


<div class="card">
  <!--TOOLBAR-->
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">

      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
        (click)="openNew()"></button>

      <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedTopics()"
        [disabled]="!selectedTopics || !selectedTopics.length"></button>
    </ng-template>
    <ng-template pTemplate="right">

      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button"></button>
    </ng-template>
  </p-toolbar>

  <!--TABLE-->
  <p-table #dt [value]="appBlogs" [rows]="10" [paginator]="true" styleClass="p-datatable-striped"
    [globalFilterFields]="['content','createdDate','id','publishedDate', 'title','updatedDate','summary', 'imageUrl', 'rating','category']"
    [(selection)]="selectedTopics" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Recherche..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox> </p-tableHeaderCheckbox>
        </th>
        <th>Image</th>
        <th pSortableColumn="title">Title
          <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th pSortableColumn="content">Content
          <p-sortIcon field="content"></p-sortIcon>
        </th>

        <th pSortableColumn="createdDate">Create Date
          <p-sortIcon field="createdDate"> </p-sortIcon>
        </th>
        <th pSortableColumn="category">Category
          <p-sortIcon field="category"> </p-sortIcon>
        </th>

        <th pSortableColumn="summary">Summary
          <p-sortIcon field="summary"> </p-sortIcon>
        </th>

        <th> </th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-appBlog>
      <tr>
        <td>
          <p-tableCheckbox [value]="appBlog"> </p-tableCheckbox>
        </td>
        <td>
          <img style="border-radius: 50%;" [src]="appBlog.imageUrl" [alt]="appBlog.imageUrl" width="50" Height="50"
            class="p-shadow-4" />
        </td>
        <td>{{appBlog.title}}</td>
        <td>{{appBlog.content}}</td>
        <td>{{appBlog.createdDate | date: 'fullDate'}}</td>
        <td>{{appBlog.category}}</td>
        <td>{{appBlog.summary}}</td>
        <td>
          <button pButton pRipple icon="pi pi-info-circle" class="p-button-rounded p-button-success p-mr-2"
            (click)="displayTopic(appBlog)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
            (click)="deleteTopic(appBlog)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{appBlogs ? appBlogs.length : 0 }} Blogs.
      </div>
    </ng-template>
  </p-table>
</div>

<!--Blog DETAILS-->
<p-dialog [(visible)]="appBlogDetailsDialog" [style]="{width: '450px'}" header="AppBlogs Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <img [src]="appBlog.imageUrl" [alt]="appBlog.imageUrl" class="product-image" *ngIf="appBlog.imageUrl">

    <div class="p-field">
      <label for="title">{{appBlog.title}}</label>
    </div>
    <div class="p-field">
      <label for="name">{{appBlog.content}}</label>
    </div>
    <div class="p-field p-col">
      <label for="name">{{appBlog.createdDate}}</label>
    </div>
    <div class="p-field">
      <label for="name">{{appBlog.category}}</label>
    </div>
    <div class="p-field">
      <label for="name">{{appBlog.summary}}</label>
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="appBlogDialog" [style]="{width: '750px'}" header="AppBlogs Details" [modal]="true">
  <form [formGroup]="blogForm" (ngSubmit)="doSubscription()">

    <div class="p-d-flex p-jc-center">
      <div class="p-field p-grid">

        <!-- Title -->
        <div class="p-col-12">
          <div class="p-field p-grid">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><label for="name">Title</label></span>
            <input formControlName="title" type="text" pInputText id="title" required autofocus />
          </div>
        </div>
        </div>
        <!-- content -->
        <div class="p-col-12">
          <div class="p-field p-grid">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><label for="name">Content</label></span>
            <textarea id="description" pInputTextarea required rows="3" cols="20" formControlName="content"></textarea>
          </div>
        </div>
        </div>
        <!-- Category: ONLy products and actu -->
        <div class="p-col-12">
          <div class="p-field p-grid">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><label for="name">Category</label></span>
            <div class="p-formgrid p-grid">
              <div class="p-field-radiobutton p-col-6">
                <p-radioButton id="category1" name="category" value="Accessories">
                </p-radioButton>
                <label for="category1">Accessories</label>
              </div>
              <div class="p-field-radiobutton p-col-6">
                <p-radioButton id="category2" name="category" value="Clothing"></p-radioButton>
                <label for="category2">Clothing</label>
              </div>
              <div class="p-field-radiobutton p-col-6">
                <p-radioButton id="category3" name="category" value="Electronics">
                </p-radioButton>
                <label for="category3">Electronics</label>
              </div>
              <div class="p-field-radiobutton p-col-6">
                <p-radioButton id="category4" name="category" value="Fitness"></p-radioButton>
                <label for="category4">Fitness</label>
              </div>
            </div>
          </div>
        </div>
        </div>

        <!-- Summary -->
        <div class="p-col-12">
          <div class="p-field p-grid">
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><label for="name">Summary</label></span>
            <input type="text" formControlName="summary" pInputText id="summary" required autofocus />
          </div>
        </div>
        </div>

        <!-- Image Url -->
        <div class="p-col-12">
          <div class="p-field p-grid">
          <div class="p-inputgroup">
           <span class="p-inputgroup-addon"> <label for="name">Image</label></span>
            <input type="file" formControlName="imageUrl" pInputText id="imageUrl" required autofocus />
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="p-col-12">
      <button pButton pRipple label="SAVE" icon="pi pi-check" type="submit" class="p-button-text"></button>
      <button pButton pRipple label="cancle" class="p-button-text" icon="pi pi-times" (click)="hideDialog()"></button>
    </div>


  </form>
</p-dialog>

<!--POP CONFIRMATION-->
<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
