<!--   Newsletter -->
<section id="newsletter" class="newsletter-bg d-relative mt-5">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="col-md-10 text-center">
      <p class="lead text-white mb-5">
        Abonnez-vous à notre newsletter et recevez toujours les dernières informations
      </p>
      <button data-aos="fade-up" data-toggle="modal" data-target="#newsletter-modal" type="button"
        class="btn btn-outline-primary btn-round btn-lg">Abonnez-vous</button>
    </div>

  </div>
