<div>
    <div class="panel">
        <h2>Contact</h2>
        <div class="panel-heading">Send a mail to admin</div>

        <section>
            To write to <a href="mailto:mns237@yahoo.com">
         Deitel & Associates, Inc.</a>, click the link and your default email client will open an email message and address it to us.
            <p></p><label>For more information </label>
            <ul class="navbar-nav">
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://twitter.com/" placement="bottom" target="_blank" tooltip="Follow us on Twitter">
                        <i class="fab fa-twitter"> </i>
                        <p>Twitter</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav link" href="https://facebook.com/" placement="bottom" target="_blank" tooltip="follow us on facebook">
                        <i class="fab fa-facebook"></i>
                        <p>FaceBook</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.linkedin.com/" placement="bottom" target="_blank" tooltip="follow us on Instagram">
                        <i class="fab fa-linkedin"></i>
                        <p>Linkin</p>
                    </a>
                </li>

            </ul>
        </section>


    </div>
    <hr/>
</div>