#registry{
	margin: 0;
	font-family: sans-serif;
	display: center;
	background-repeat: no-repeat;

}

ul {
    background: #3399ff;
    padding: 5px;
}


button {
    /*background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    border: 1px;
}


.card-body{
	top: 50%;
	margin-left: 250px;
	display: center;
	width: 900px;
	padding: 40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,.10,.10);
	border-radius: 10px;
}
