ul li {
    background: #cce5ff;
}

ul {
    background: #3399ff;
    padding: 5px;
}


button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
