/* You can add global styles to this file, and also import other style files */
@import '~aos/dist/aos.css';
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~simple-line-icons/css/simple-line-icons.css";

body,
p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background-size: cover;
}

/* Button */

.btn-round {
  border-radius: 35px;
}


/* Section */

section {
  padding: 80px 0;
}


/* Hilfsklassen */
.d-relative {
  position: relative;
}

/* === Start ===*/
.start-bg {
  background: url('assets/img/bg1.jpg') 50% 0 fixed no-repeat;
  height: 100vh;
  background-size: cover;
}

#start .container {
  height: 100%;
}

#start .row {
  height: 80%;
}

/* Farben */
.bg-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.9);
  position: absolute;
  top: 0;
}

a .text-white:hover,
a.text-white:hover {
  color: #dc3545 !important;
  text-decoration: none;
}

nav {
  -webkit-transition: 0.7s ease-in-out;
  -o-transition: 0.7s ease-in-out;
  transition: 0.7s ease-in-out;
}

/* === For Coming Soon ===*/
.soon {
  font-weight: 500;
  color: #dc3545;
  text-decoration: none;
  font-size: 150%;
}

.coming {
  background: red;
  position: relative;
  animation: coming-soon infinite;
  animation-duration: 3s;
}

@keyframes coming-soon {
  from {
    top: 0px;
  }

  to {
    top: 200px;
  }
}

/* === Navigation ===*/
.form {
  background-color: skyblue;
  border-style: solid;
}

.form-group .form-control {
  border-style: solid block green;
  background-color: #eee;
}

/* === News  ===*/
.news-bg {
  background: url('assets/img/aboutus.jpg') 50% 0 fixed no-repeat;
  height: 100%;
  background-size: cover;
}

#news .rounded-circle {
  border: 8px solid #FFF;
}


/* === about-us ===*/
.img-bg {
  position: absolute;
  overflow: hidden;
  right: 0px;
  bottom: 0;
  width: 40vw;
}

/* === Newsletter ===*/
.newsletter-bg {
  background: url('/assets/img/aboutus.jpg') 50% 0 fixed no-repeat;
  height: 100%;
  background-size: cover;
}

/* === Gallery ===*/

.card-columns {
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

.card-columns .card {
  margin-bottom: -1px;
  border: 0;
}

/* === Back to Top Button ===*/

#back-to-top-button {
  display: none;
  position: fixed;
  right: 40px;
  bottom: 40px;
}


/* Bugfixing */

h1,
h2,
h3,
h4,
h5,
h6,
.font-alt,
p,
button,
a {
  filter: blur(0);
}

/* Bild Hover */
#blog .card img,
#news img {
  filter: grayscale(60%);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

#blog .card:hover img,
#news img:hover {
  filter: none;
}
