 <!--circular: Defines if scrolling would be infinite. -->
 <section>

   <p-card class="p-shadow-24">

     <!--@idrice: Do you know how to use p-carousel-header style check documentation-->
     <p-carousel [value]="products" [circular]="true" indicatorsPosition="Top" [autoplayInterval]="3000"
       [numVisible]="3"
       [numScroll]="1" [responsiveOptions]="responsiveOptions">

       <!--To Display Header section for Carossel: @Idrice can you use Footer? display what you want-->
       <p-header class="text-center">
         <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Products</h1>
       </p-header>

       <ng-template let-product pTemplate="item">
         <div class="product-item">
           <div class="product-item-content">
             <div class="p-mb-3">
               <img [src]="product.imageUrl" [alt]="product.name" class="product-image" />
             </div>
             <div>
               <h4 class="p-mb-1">{{product.name}}</h4>
               <h6 class="p-mt-0 p-mb-3">{{product.price}} <i>Fcfa</i></h6>

               <div class="car-buttons p-mt-5">
                 <button pButton styleClass="p-button p-button-rounded p-mr-2" icon="pi pi-cog"></button>
                 <button pButton styleClass="p-button-success p-button-rounded p-mr-2" icon="pi pi-star">
                 </button>
                 <button (click)="addToChart(product)" pButton styleClass="p-button-help p-button-rounded"
                   icon="pi pi-shopping-cart"></button>
               </div>
             </div>
           </div>
         </div>
       </ng-template>

       <!--    <p-footer class="text-center">
         <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Products</h1>
       </p-footer> -->

     </p-carousel>
   </p-card>
 </section>
