<section>
  <div class="container">
    <div class="row">
      <div data-aos="fade-right" class="col-lg-6">
        <h1 class="text-primary mb-4">Apprendre a nous connaitre!</h1>
        <p>Il faut se connaitre pour faire les choix qui nous rendront heureux mais comment s'y prendre? Quand on n'a pas encore construit sa personnalite, l'exercice est delicat mais il vaut pourtant la paine d'etre tente. Careactere, aptitudes, valeurs, motivations...... Des pistes pour partir a la decouverte de vous-meme.</p>
        <p>Une fois que vous avez cerne votre caratere (exemple:  original, reveur, sur de soi), vous pouvez vous demander quels types de metiers demandent ces qualites. Attention: en general,<b> il y a plusieurs types de metiers possibles pour chaque caractere</b>, et c'est tant mieux.</p>
        <p class="text-uppercase text-muted mt-4">&mdash; mns &amp; 237 Team</p>
      </div>
      <div class="col-lg-6">
        <img data-aos="fade-left" class="img-fluid" src="assets/img/aboutus.jpg" alt="">
      </div>

    </div>
  </div>
</section>
