<section>
  <div class="container">
    <div class="row">
      <div data-aos="fade-right" class="col-lg-6">
        <h1 class="text-primary mb-4">Apprendre a nous connaitre!</h1>
        <p>Proinde die funestis interrogationibus. Proinde die funestis interrogationibus
          Proinde die funestis interrogationibus</p>
        <p>quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem
          subinde per aulaeum,
          nec diluere obiecta permissi nec defensi periere conplures.</p>
        <p> magister adhibitis aliis iam quae essent agenda praedoctis, et adsistebant hinc inde notarii, quid quaesitum
          esset, quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis
          aurem subinde
          per aulaeum, nec diluere obiecta permissi nec defensi periere conplures.</p>
        <p>quidve responsum, cursim ad Caesarem perferentes, cuius imperio truci, stimulis reginae exsertantis aurem
          subinde per
          aulaeum, nec diluere obiecta permissi nec defensi periere conplures ziehen.</p>
        <p class="text-uppercase text-muted mt-4">&mdash; mns &amp; 237 Team</p>
      </div>
      <div class="col-lg-6">
        <img data-aos="fade-left" class="img-fluid" src="assets/img/aboutus.jpg" alt="">
      </div>

    </div>
  </div>
</section>
