 <section class="mt-5">
   <!-- <div class="bg-overlay"></div> -->
   <!--TITLE-->
   <div class="row mb-5">
     <div class="col-md-12 text-center">
       <h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Newsletter</h1>
     </div>

   </div>

   <div class="container">
     <div class="col-md-12 text-center">
       <p class="lead mb-5">
         Abonnez-vous à notre newsletter et recevez toujours les dernières informations
       </p>
     </div>
     <div class="col-md-12 text-center">
       <button data-aos="fade-up" data-toggle="modal" data-target="#newsletter-modal" type="button"
         class="btn btn-outline-primary btn-round btn-lg">Abonnez-vous</button>
     </div>
   </div>

   <!-- Start Modal -->
   <div id="newsletter-modal" class="modal fade" role="dialog" aria-hidden="true" background-color="#eee">
     <div class="modal-dialog modal-lg">
       <div class="modal-content">
         <div class="modal-header mb-4">
           <h1 class="modal-title text-primary ml-3">Abonnement!</h1>
           <button type="button" class="close mr-3" data-dismiss="modal" aria-label="Close"><span class="icon-close"
               aria-hidden="true"></span></button>
         </div>
         <div class="modal-body">
           <div class="container">
             <form [formGroup]="newsletterForm">
               <div class="row">
                 <div class="col-lg-6 mb-4">
                   <div class="input-group input-group-lg">
                     <input type="text" class="form-control" placeholder="Prenom" required>
                   </div>
                   <div *ngIf="prenom.invalid && (prenom.dirty || prenom.touched)" class="p-col-12">
                     <small *ngIf="prenom.errors.required" class="p-invalid">Prenom est requis.</small>
                   </div>
                 </div>
                 <div class="col-lg-6 mb-4">
                   <div class="input-group input-group-lg">
                     <input type="text" class="form-control" placeholder="Nom" required>
                   </div>
                   <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="p-col-12">
                     <small *ngIf="nom.errors.required" class="p-invalid">Nom est requis.</small>
                   </div>
                 </div>
                 <div class="col-lg-12 mb-4">
                   <div class="input-group input-group-lg">
                     <input type="email" class="form-control" placeholder="E-Mail" required>
                   </div>
                   <div *ngIf="email.invalid && (email.dirty || email.touched)" class="p-col-12">
                     <small *ngIf="email.errors.required" class="p-invalid">Email est requis.</small>
                   </div>
                 </div>
               </div>
             </form>
           </div>
         </div>
         <div class="modal-footer">
           <button type="button" class="btn btn-outline-primary btn-round" data-dismiss="modal">quitter</button>
           <button type="submit" class="btn btn-outline-primary btn-round mr-3">envoyer</button>
         </div>
       </div>

     </div>

   </div>

   <!-- Ende Modal -->
 </section>
