<p-toast></p-toast>
<h1 data-aos="fade-in-up" data-aos-offset="100" class="text-primary">Nous contacter per Email</h1>

<form [formGroup]="sendForm" (ngSubmit)="send(sendForm.value)">
  <div class="p-fluid p-grid">

    <div class="p-col p-ai-stretch">
      <div class="p-inputgroup">
        <textarea pInputTextarea formControlName="msg" style="height:160px" placeholder="Message"></textarea>
      </div>
    </div>

    <div class="p-col">
      <div class="p-field p-grid">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
          <input formControlName="name" pInputText type="text" placeholder="Nom">
        </div>
      </div>

      <div class="p-field p-grid">
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-envelope"></i></span>
          <input pInputText formControlName="email" type="text" placeholder="Email">
        </div>
      </div>

      <div class="p-field p-grid">
        <button pButton pRipple [disabled]="sendForm.invalid" type="submit" label="Envoyer"
          class="p-button-rounded"></button>
      </div>
    </div>
  </div>
</form>
