<p>about works!</p>
<!-- Start Über uns -->
<section id="ueber-uns" class="d-relative">
  <div class="img-bg d-none d-lg-inline">
    <img class="img-fluid" src="assets/img/ueber-uns.jpg" alt="Das sind wir">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h1 class="text-danger mb-4">Lerne uns kennen!</h1>
        <p>Überall dieselbe alte Leier. Das Layout ist fertig, der Text lässt auf sich warten. Damit das Layout nun
          nicht nackt im Raume steht und sich klein und leer vorkommt, springe ich ein: der Blindtext.</p>
        <p>Genau zu diesem Zwecke erschaffen, immer im Schatten meines großen Bruders »Lorem Ipsum«, freue ich mich
          jedes Mal, wenn Sie ein paar Zeilen lesen. Denn esse est percipi - Sein ist wahrgenommen werden.</p>
        <p>Und weil Sie nun schon die Güte haben, mich ein paar weitere Sätze lang zu begleiten, möchte ich diese
          Gelegenheit nutzen, Ihnen nicht nur als Lückenfüller zu dienen, sondern auf etwas hinzuweisen, das es ebenso
          verdient wahrgenommen zu werden: Webstandards nämamalich. Sehen Sie, Webstandards sind das Regelwerk, auf dem
          Webseiten aufbauen.</p>
        <p>So gibt es Regeln für HTML, CSS, JavaScript oder auch XML; Worte, die Sie vielleicht schon einmal von Ihrem
          Entwickler gehört haben. Diese Standards sorgen dafür, dass alle Beteiligten aus einer Webseite den größten
          Nutzen ziehen.</p>
        <p class="text-uppercase text-muted mt-4">&mdash; Mug &amp; move Team</p>
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>
<!-- Ende Über uns -->
